{% extends 'shop/basic.html' %}

{% block title%} Search Results - My Awesome Cart{% endblock %}

{% block body %} 

{% if not allProducts %}
  <p>No search results</p>
   Your search query : <b>{{query}}</b> did not match any documents. <br>
   Suggestions:
   <ul>
   <li>Make sure that all words are spelled correctly.</li>
   <li>Try more general keywords.</li>
  <li> Try fewer keywords.</li>
  <li> Try different keywords.</li>
   </li>
   </ul>

{% else %}

{% for product in allProducts%}
<h1>{{product.productName}}</h1>
<h3>{{product.desc}}</h3>
<img src="/media/{{product.image}}"/>

{% endfor %}
{% endif %}

{% endblock %}