# Byte-compiled / optimized / DLL files
*/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# Ignore Django migration files

*/ecommerce/ecommerce/migrations/
*/migrations/
*/migrations/__init__.py


# Development and runtime files
db.sqlite3
*.log
*.pyc
*.pyo
local_settings.py

# Media and static files
*/media/
*/static/

# Ignore pipenv virtual environment
/.venv/

# Ignore local database settings
/local_settings.py

# Ignore IDE and editor files
.vscode/
*.sublime-project
*.sublime-workspace
*.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore compiled JavaScript files
/Frontend/node_modules/
*/node_modules/
*.log
*.lock


# Node.js
node_modules/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
