@tailwind base;
@tailwind components;
@tailwind utilities;


 /* button.carousel-control-next{
    background: grey
 }
 button.carousel-control-prev{
    background: grey
 }
 span.carousel-control-next-icon{
    background: black,
    
 } */